
body
{
	background-image: url("../images/background.jpg");
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.jumbotron
{
	background-color: transparent;
}


h1
{
	font-family: 'Geostar Fill', cursive;
	font-weight: 400;
	color: black;
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}


#char1 {
	position: relative;
	top:300px;
	right:300px;
}

#char2 {
	position: relative;
	top:325px;
	right:150px;
}

#char3 {
	position: relative;
	top:325px;

}

#char4 {
	position: relative;
	top:187px;
	left:300px;

}