
body
{
	background-image: url("../images/background.jpg");
	text-align: center;
}

.jumbotron
{
	background-color: transparent;
}


h1
{
	font-family: 'Geostar Fill', cursive;
	font-weight: 400;
	color: black;
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}

#darthVader {
	position: absolute;
	top:350px;
	right:300px;
	height: 350px;
	clip: rect(0, 60px, 90px, 0);
  /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
}

#obiwan {
	position: absolute;
	top:375px;
	left:200px;
	height: 350px;
	clip: rect(0, 60px, 90px, 0);
  /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
}

#darthMaul {
	position: absolute;
	top:375px;
	right:200px;
	height: 350px;
	clip: rect(0, 60px, 90px, 0);
  /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
}

#yoda {
	position: absolute;
	top:350px;
	left:300px;
	height: 350px;
	clip: rect(0, 60px, 90px, 0);
  /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
}